# Byte-compiled Python files
__pycache__/
*.py[cod]

# Environment variables
.env
*.env

# Virtual environment
venv/
.env/
*.env.*

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Python package files
*.egg-info/
build/
dist/

# Node.js (if applicable)
node_modules/

# Deployment files
*.pem
